doctype html
html(lang="en")
  head
    title= title
  body
    include ./includes/navbar.jade
    div.container.center
      div#status-message
      div#connection-count
      h3 Admin Dashboard
      h1 Poll: #{poll.title}
      div#admin-buttons
        a(id= poll.id class= 'share btn') Share Results with Voters
        &nbsp;
        a(id= poll.id class= 'close-poll btn') Close Poll

      h4 Share this poll with friends:
      h5= poll.url
      br
      h4 And Vote Below
      div#choices

        each response in poll.responses
          a.btn(id= poll.id)= response
          &nbsp;
      div#your-vote
      div
        table
          thead
            tr
              th(data-field="vote") Votes
              th(data-field="amount") Amount
          tbody#vote-count
            each count, vote in poll.votes
              tr
                td= vote
                td= count

script(src="//code.jquery.com/jquery-1.12.0.min.js")
link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css', rel='stylesheet')
script(src="/socket.io/socket.io.js")
script(src="/client.js")
